.navbar {
    display: flex;
    justify-content: flex-start;
    /* Align to the left */
    align-items: center;
    padding: 15px;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}